.download {
    text-align: center;
    background-image: url(/assets/images/donwload-bg.png);
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.download-text, .download-buttons {
    color:#FFFFFF
}
.download-text-heading {
    padding-top: 160px;
    font-weight: 570;
    font-size: 45px;
}
.download-text-content {
    font-size: 28px;
    margin: 30px 0px;
}
