.download {
    text-align: center;
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.download-text, .download-buttons {
    color:#FFFFFF
}
.download-text-heading {
    padding-top: 160px;
    font-weight: 570;
}
.download-text-content {
    margin: 30px 0px;
}
.download-buttons {
    display: flex;
    justify-content: center;
}