/* LOGOS */
.header-first-section-logos {
    margin: 30px 0px;
}
.header-first-logo {
    margin-left: 150px; 
}

.header-second-logo {
    display: block;
    /* text-decoration: none; */
    border: 0;
    background-color:transparent;
    /* margin-left: 1300px; */
}
/* SECOND SECTION BACKGROUND */
.flex-wrapper {
    background-image: url(/assets/images/Rectangle\ 48.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 750px;
    margin-top: 20px ;
}
/* SECOND SECTION TEXT CONTENT */
.second-section-text-content, .second-section-buttons {
    color:white;
    text-align: center;
}
.second-section-heading {
    padding: 70px 0px 10px 0px;
    color:#F6F6F6;
    font-size: 30px;
    font-weight: 450;
    margin-bottom: 20px;
}
.second-section-main-1, .second-section-main-2 {
    font-size: 70px;
    font-weight: 550;
}
.second-section-footer {
    color: #F6F6F6;
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 20px;
}
/* SECOND SECTION BUTTONS */
.second-section-first-button, .second-section-second-button {
    text-decoration: none;
    font-size: 29px;
    color: #F6F6F6;
    display: inline-block;
    border-radius: 25px;
    margin: 30px 15px;
    padding: 10px 47px;
    z-index: 8;
}
.second-section-first-button {
    background-color: #FA4A0C;
    border: 1px solid rgb(58, 56, 56);
}

.second-section-second-button {
    border: 1px solid rgb(197, 191, 191);   
    background: none;
}
/* THIRD SECTION  */
.header-third-section {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-third-section-images {
    position: relative;
    display: flex;
    justify-content: center;
}
.header-first-phone {
    position: absolute;
    bottom:-470px;
    left: 510px;
    z-index: 4;
}
.header-second-phone {
    position: absolute;
    top: -170px;
    right: 680px;
    z-index: 3;
}
.header-third-section-border {
    margin-top: 460px;
    margin-left: 450px;
    border: none;
    background-color: #E4E4E4;
    color: #E4E4E4;
    height: 3px;
    width: 900px;
}


 