/* LOGOS */
.header-nav-section-logos {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.header-first-logo {
    margin-top: 30px;
}

.header-second-logo {
    padding: 30px 0px 0px 1400px;
    border: 0;
    background-color:transparent;
}
/* SECOND SECTION BACKGROUND */
.second-section-wrapper {
    background-image: url(/assets/images/Rectangle\ 48.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 750px;
    margin-top: 20px ;
}
/* SECOND SECTION TEXT CONTENT */
.second-section-text, .second-section-buttons {
    color:white;
    text-align: center;
}
.second-section-heading {
    padding: 70px 0px 10px 0px;
    font-weight: 450;
    margin-bottom: 20px;
}
.second-section-heading, .second-section-footer {
    font-size: 30px;
    color:#F6F6F6
}
.second-section-content{
    font-size: 70px;
    font-weight: 550;
}
.second-section-footer {
    padding-top: 35px;
    padding-bottom: 20px;
}
/* THIRD SECTION  */
.header-third-section {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-third-section-images {
    position: relative;
    display: flex;
    justify-content: center;
}
.header-first-phone {
    background-image: url(/assets/images/phone-1.png);
    height: 800px;
    width: 400px;
    position: absolute;
    bottom:-400px;
    left: 490px;
    z-index: 4;
}
.header-second-phone {
    background-image: url(/assets/images/phone-2.png);
    background-repeat: no-repeat;
    height: 600px;
    width: 300px;
    position: absolute;
    top: -160px;
    right: 680px;
    z-index: 3;
}
.header-third-section-border {
    margin-top: 460px;
    margin-left: 450px;
    border: none;
    background-color: #E4E4E4;
    color: #E4E4E4;
    height: 3px;
    width: 900px;
}


 