.main-header {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-section-text-heading {
    font-weight: 500;
    color: var(--orange);
}
.main-section-text-content {
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0px;
}
.content-margin {
    margin-bottom: 20px;
}
.main-section-text-footer {
    color: var(--gray);
    margin-bottom: 0px;
}
.main-second-section {
    margin-top: -120px;
}
