@media (max-width:3000px) and (max-width:3500px) { 
    .header-button {
        padding: 30px 0px 0px 2750px;   
    }
    .second-section-content{
    font-size: 100px;
    font-weight: 550;
    }
    .second-section-footer {
        padding-bottom: 0px;
    }
    .header-first-phone {
        bottom:5%;
        left: 39%;
    }
    .header-second-phone {
        bottom: 5%;
        right: 42%;
    }
    .header-third-section-border {
        margin: 0px auto;
        margin-top: 500px; 
    }
}

/* @media screen and (min-width:2750px) and (max-width:3200px) {
    .header-first-phone {
        left: 38%;
    }
    .header-second-phone {
        right: 41%;
    }
    .header-button {
        padding: 30px 0px 0px 2600px;   
    }
}
@media screen and (max-width:2950px) {
    .header-button {
        padding: 30px 0px 0px 2400px;   
    }
    .header-first-phone {
        left: 37%;
    }
    .header-second-phone {
        right: 40%;
    }
} */