@media (min-width:1280px) {
    /* header  */
    .header-button {
        padding: 30px 30px 0px 900px;
    }
    .second-section-wrapper {
        background-image: url(/assets/images/Rectangle\ 48.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        padding-top: 100px;
    }
    .second-section-heading, .second-section-footer {
        color:#F6F6F6;
        font-size: 38px;
    }
    .second-section-content {
        color: white;
        font-size: 80px;
        font-weight: 570;
    }
    .second-section-first-button, .second-section-second-button {
        padding: 15px 80px;
    }
    .second-section-second-button, .download-second-button {
        border: 2px solid rgb(218, 212, 212);   
        background: none;
        color:white
    }
    .header-first-phone {
        background-image: url(/assets/images/phone-1.png);
        bottom:23%;
        left: 20%;
    }   
    .header-second-phone {
        background-image: url(/assets/images/phone-2.png);
        bottom: 15%;
        left: 49%;
    }
    /* main  */
    .main-header {
        font-size: 50px;
    }
    .flex-wrapper-1 {
        flex-direction: row;
        text-align:start;
    }
    .flex-wrapper-2 {
        flex-direction: row;
        text-align:start;
    }
    .main-section-text-heading {
        margin: 10px 0px;
        font-size: 25px;
        font-weight: 500;
    }
    .main-section-text-content {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .main-section-text-footer {
        margin-top: 10px;
        font-size: 20px;
    }
    .main-second-section-text {
        margin-left: 170px;
    }
    .image-margin {
        margin-left: 0px;
        text-align:unset
    } 
    /* download  */
    .download {
        background-image: url(/assets/images/donwload-bg.png);
    }
    .download-text-content {
        color:white;
    }
    /* footer  */
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        height: 180px;
        width: 100%;
    }
    .footer-logo {
        display: inline;
    }
    .footer-image {
        display: inline;
    }
    
    .footer-image {
        padding: 0px 10px;
    }
    .footer-text {
        margin-top: 50px;
        font-size: 15px;
    }
}