@import url(/assets/css/variables.css);
@import url(/assets/css/bootstrap-reboot.rtl.css);
@import url(/assets/css/bootstrap.min.css);
@import url(/assets/css/header.css);
@import url(/assets/css/main.css);
@import url(/assets/css/download.css);
@import url(/assets/css/buttons.css);
@import url(/assets/css/footer.css);
@import url(/assets/css/media1.css);    
@import url(/assets/css/media2.css);
    /* .second-section-heading, .second-section-footer {
        font-size: 40px;
    }
    .second-section-first-button, .second-section-second-button {
        padding: 25px 90px;
        font-size: 40px;
    } */

